/******************STANDARD-ÄNDERUNGEN***************/
body {
    font-size: 20px;
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 0 0;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}


/**********SLIDER***************/

* {
    box-sizing: border-box;
  }
  .slider {
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    max-width: 100%;
  }
  .Titelbild {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider > a {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .slider > a:hover {
    zoom: 110%;
  }

/******************************/


#Überschrift {
    background-color: #4CAF50;
}
#Titelbild {
    display:block;
    margin: auto;
    max-width: 100%;
}
/**********MENÜ**************/
#menueauflistung a {
    color: black;
    padding: 12px 16px;
  }
#menueauflistung a:hover {
    transform:scale(1.2);
    color: white;
}
#flexboxmenuemitte {
    display: flex;
    justify-content: center;
}
nav {
    position: fixed;
    font-size: 20px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #4CAF50;
    padding: 20px 20px 20px 20px;
    margin-top: 500px;
}
/************************/


#Einleitung {
    background-image: url("paragleiter.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    border: solid white;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 70em) {
    #Einleitung {
        background-image: none;
    }
}


#startplatzeins {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#textstartplatzeins {
    text-align: center;
}
#startplatzzwei {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#textstartplatzzwei {
    text-align: center;
}
@media (max-width: 70em) {
    #startplatzeins, #startplatzzwei {
        flex-flow: row wrap;
    }
}



#ablauftext {
    text-align: center;
}


@media (max-width: 70em) {
    #flexboxpiloten {
        flex-flow: row wrap;
    }
}

#flexboxpiloten {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#flexboxgabriel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-right: solid white 1px;
}
#flexboxjoggl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#flexboxalfred {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-left: solid white 1px;
}
img {
    border: solid white;
    max-width: 100%;
}



#Bildergalerieflexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}



#video {
    display: block;
    margin: 0 auto;
}
#videos {
    background-image: url("paragleiter-hintergrund.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: left;
}
#videocentered {
    display: blocK;
    margin: auto;
}
@media (max-width: 70em) {
    #videos {
        background-image: none;
    }
}


#tothetop {
    position: fixed; bottom: 10px; right: 11px;
}

#gridcontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    border: solid black;
    margin-bottom: 6em;;
    text-align: center;
    padding: 1em;
}
    #element1 {
        grid-row: 1;
        grid-column: 1;
    }
    #element2 {
        grid-row: 1;
        grid-column: 2;
    }
    #element3 {
        grid-column: 1;
        grid-row: 2;
    }
    #element4 {
        grid-column: 2;
        grid-row: 2;
    }
